<div class="dashboard">
  <div class="search-box">
    <p>If you're supporting legacy browsers use the broadly supported EM in your css. Ensure that you control for the EM's nested scaling behavior in your css code. Try to apply font-size directly on type elements like h1, h2, and p, and not nestable container objects like div or li.</p>
    <h1>If you're supporting legacy browsers use the broadly supported EM in your css. Ensure that you control for the EM's nested scaling behavior in your css code. Try to apply font-size directly on type elements like h1, h2, and p, and not nestable container objects like div or li.</h1>
    <h2>If you're supporting legacy browsers use the broadly supported EM in your css. Ensure that you control for the EM's nested scaling behavior in your css code. Try to apply font-size directly on type elements like h1, h2, and p, and not nestable container objects like div or li.</h2>
    <p>If you're supporting legacy browsers use the broadly supported EM in your css. Ensure that you control for the EM's nested scaling behavior in your css code. Try to apply font-size directly on type elements like h1, h2, and p, and not nestable container objects like div or li.</p>
    <h1>If you're supporting legacy browsers use the broadly supported EM in your css. Ensure that you control for the EM's nested scaling behavior in your css code. Try to apply font-size directly on type elements like h1, h2, and p, and not nestable container objects like div or li.</h1>
    <h2>If you're supporting legacy browsers use the broadly supported EM in your css. Ensure that you control for the EM's nested scaling behavior in your css code. Try to apply font-size directly on type elements like h1, h2, and p, and not nestable container objects like div or li.</h2>
  </div>
  <div class="for-rent"></div>
  <div class="for-sale"></div>
  <div class="serviced-apartments"></div>
</div>