<div class="sghome-footer">
  <footer>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a ui-sref="main.dashboard" class="anchor-logo">
          <img src="/app/assets/img/logo_sghome.png">
        </a></li>
        <li><a>News</a></li>
        <li><a>Blog</a></li>
        <li><a>Terms & Privacy</a></li>
        <li><a>Contact Us</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><small>Copyright © 2016. All Rights Reserved by Saigon Home Real Estate Services.</small></li>
      </ul>
    </div>
  </footer>
</div>