<div class="for-rent-detail container-fluid">
  <div ncy-breadcrumb></div>
  <div class="content row">
    <div class="col-xs-12">
      <h1>{{vm.post.title}}</h1>
    </div>
    <div class="content-area col-sm-12 col-md-8 col-lg-9">
      <article>
        <section class="row">
          <div class="col-xs-12">
            <div class="image-container">
              <uib-carousel interval="3000" no-wrap="false">
                <uib-slide ng-repeat="image in vm.post.images">
                  <img ng-src="{{image}}" style="margin:auto;">
                  <div class="carousel-caption">
                    <h4>{{vm.post.title}}</h4>
                  </div>
                </uib-slide>
              </uib-carousel>
            </div>
            <p>{{vm.post.description}}</p>
            <p ng-show-="vm.post.price"><label>Price:&nbsp;</label>${{vm.post.price}}/ {{vm.post.unit}}</p>
            <p ng-show="vm.post.notes"><label>Other information:&nbsp;</label>{{vm.post.notes}}</p>
          </div>
        </section>
        <footer class="entry-footer col-lg-9 col-lg-offset-3">
          <div class="author-area row">
            <div class="profile-picture col-xs-4 col-md-2">
              <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAANHAAAAJDM3MTkzNTlhLTFlODctNDI0OS04ZjRhLTIyMmY0OGI2NDIzNA.jpg">
            </div>
            <div class="content-area col-xs-8 col-md-10">
              <p>{{vm.post.author.name}}<span ng-show="vm.post.author.alias">&nbsp;({{vm.post.author.alias}})</span></p>
              <p>Mobile: {{vm.post.author.mobile}}</p>
              <p>Email: {{vm.post.author.email}}</p>
              <p class="text-right"><a><small>View {{vm.post.author.name}}'s posts >></small></a></p>
            </div>
          </div>
        </footer>
      </article>
    </div>
    <div class="widget-area col-sm-12 col-md-4 col-lg-3">
      <h2>Social sharing</h2>
      <h2>Ads</h2>
      <h2>Related posts</h2>
      <h2>External links</h2>
    </div>
  </div>
</div>
