.wrapper {
  min-height: 100%;
  height: 100%;
}
.wrapper .sghome-header {
  height: 50px;
  background: red;
}
.wrapper .sghome-content {
  background: black;
}
.sghome-footer {
  height: 50px;
  background: blue;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/0eC6fl06luXEYWpBSJvXCIX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/sTdaA6j0Psb920Vjv-mrzH-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v15/isZ-wbCXNKAbnjo6_TwHToX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@media screen and (min-width: 500px) {
  html {
    font-size: 14px;
  }
}
@media screen and (min-width: 570px) {
  html {
    font-size: 15px;
  }
}
@media screen and (min-width: 620px) {
  html {
    font-size: 16px;
  }
}
@media screen and (min-width: 680px) {
  html {
    font-size: 17px;
  }
}
@media screen and (min-width: 720px) {
  html {
    font-size: 18px;
  }
}
@media screen and (min-width: 800px) {
  html {
    font-size: 19px;
  }
}
@media screen and (min-width: 860px) {
  html {
    font-size: 20px;
  }
}
@media screen and (min-width: 920px) {
  html {
    font-size: 21px;
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}
body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  padding: 0 !important;
  margin: 0 !important;
  line-height: 1.618;
  color: #333;
  background-color: #fff;
}
p {
  font-size: 1rem;
}
h2 {
  font-size: 1.5rem;
}
h1 {
  font-size: 2rem;
}
