@import 'variables';
@import 'layout';
@import 'fonts';
@import 'media';

body {
  font-size: 16px; // 1 rem = 16px
  font-family: 'Roboto', sans-serif;
  padding: 0 !important;
  margin: 0 !important;
  line-height: 1.618; // golden ratio
  color: @htmlBackground;
  background-color: @htmlColor;
}

p {
  font-size: 1rem;
}

h2 {
  font-size: 1.5rem;
}

h1 {
  font-size: 2rem;
}