.wrapper {
  min-height: 100%;
  height: 100%;

  .sghome-header {
    height: @headerHeight;
    background: red;
  }

  .sghome-content {
    background: black;
  }
}

.sghome-footer {
  height: @footerHeight;
  background: blue;
}