.wrapper {
  min-height: 100%;
  height: 100%;

  .sghome-header {
    height: @headerHeight;

    a {
      text-transform: uppercase;
      font-size: 14px;

      &:hover {
        .border-bottom(4px, @red);
      }
    }
  }

  .sghome-content {

  }
}

.sghome-footer {
  margin-top: 10px;

  height: @footerHeight;
  background: @black;
  color: @white;

  a {
    color: @white;

    &:hover, .active {
      .border-bottom(4px, @red);
    }
  }

  small {
    position: relative;
    display: block;
    padding: 10px 15px;
  }
}